<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1em, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Hot Dog Detector</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>HotDog Detector</h1>
    <div id="drop-area">
      <label for="formFileLg" class="form-label"
        >This was a project created using Tensorflow to analyze images to detect whether a hotdog is in an uploaded image.</label
      >
      <input
        class="form-control form-control-lg"
        id="formFileLg"
        type="file"
        name="image"
        onchange="readURL(this)"
      />
      <button id="submit" type="submit">Submit</button>

      <div id="resultContainer" style="display:none;">
        <h2>Results:</h2>
        <p id="result">Pending result</p>
        <img id="uploadedImage" src="#" alt="Uploaded Image"/>
      </div>

    </div>
  </body>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        $("#resultContainer").hide()
        var reader = new FileReader();
        reader.onload = function (e) {
            console.log(e)
            
            $('#uploadedImage')
                .attr('src', e.target.result)
                .width(180)
                .height(180);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(function () {
      // $("#formFileLg").change(function (e){
      //   console.log(e.target.files)
      //   $('#uploadedImage').attr('src', e.target.files).width(150).height(200);
      // });
      $("#submit").click(function (e) {
        console.log(e)
        uploadedImage = $("#formFileLg")[0].files[0];
        let formData = new FormData();
        formData.append("image", uploadedImage);
        console.log(uploadedImage);
        $.ajax({
          url: "{{url_for('predict')}}",
          type: "POST",
          data: formData,
          cache: false,
          processData: false,
          contentType: false,
          error: function (data) {
            console.log(data);
          },
          success: function (data) {
            console.log(data)
            $("#resultContainer").show();
            if(data === "Not Hot Dog"){
              $('#result').text("❌ 🌭 Not Hot Dog ")
            }else{
              $('#result').text("✔️ 🌭 Hot Dog ")
            }
          },
        });
      });
    });
  </script>
  <style>
    #drop-area {
      width: 500px;
    }
  </style>
</html>
